@model SFA.DAS.LoginService.Application.BuildLoginViewModel.LoginViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Sign in to " + @Model.ServiceName;
    ViewBag.ValidationOrder = "Userame,Password";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="/Views/Partials/_validationErrorSummary.cshtml" />

            <h1 class="govuk-heading-l">Sign in to @Model.ServiceName</h1>

            <form asp-route="PostLogin">
                <input type="hidden" asp-for="ReturnUrl" />

                <div class="govuk-form-group" sfa-validation-for="Username" sfa-validationerror-class="govuk-form-group--error">
                    <label class="govuk-label govuk-label--m" asp-for="Username">
                        Email address
                    </label>
                    @*                     @if (!ViewData.ModelState.IsValid) *@
                    @*                     { *@
                    @*                       <span id="username-error" asp-validation-for="Username" class="govuk-error-message"></span> *@
                    @*                     } *@
                    <input class="govuk-input govuk-input--width-20" asp-for="Username" type="text" autocomplete="username" sfa-validation-for="Username" sfa-validationerror-class="govuk-input--error">
                </div>

                <div class="govuk-form-group" sfa-validation-for="Password" sfa-validationerror-class="govuk-form-group--error">
                    <label class="govuk-label govuk-label--m" asp-for="Password">
                        Password
                    </label>
                    @*                     @if (!ViewData.ModelState.IsValid) *@
                    @*                     { *@
                    @*                       <span id="password-error" asp-validation-for="Password" class="govuk-error-message"></span> *@
                    @*                     } *@
                    <div class="show-password-container">
                        <input class="govuk-input govuk-input--width-20 show-hide-password-input" asp-for="Password" type="password" autocomplete="current-password" data-show-hide="password" sfa-validation-for="Password" sfa-validationerror-class="govuk-input--error" />
                        <div class="show-password-control-container">
                            <input type="checkbox" class="show-hide-checkbox" name="show-hide" id="show-hide" />
                            <label for="show-hide" class="govuk-label govuk-label--show-hide" id="show-hide-label" tabindex="0"><span class="govuk-label__show-hide-text">show</span><span class="govuk-visually-hidden"> password</span></label>
                        </div>
                    </div>
                </div>

                @if (Model.AllowRememberLogin)
                {
                    <div class="govuk-form-group login-remember">
                        <label asp-for="RememberLogin">
                            <input asp-for="RememberLogin">
                            <strong>Remember my username and password</strong>
                        </label>
                    </div>
                }

                <div class="govuk-inset-text">
                    By continuing you confirm you have:
                    <ul class="govuk-list govuk-list--bullet">
                        <li>read the service <a class="govuk-link" asp-controller="Home" asp-action="Privacy" target="_blank" rel="noopener noreferrer" >privacy statement</a></li>
                    </ul>
                </div>
                <button type="submit" class="govuk-button">
                    Sign in
                </button>
                <p class="govuk-body">
                    You can
                    <a class="govuk-link" asp-action="Get" asp-controller="RequestPasswordReset" asp-route-clientId="@Model.ClientId">change your password</a>
                    if you've forgotten it.
                </p>
                <p class="govuk-body">
                    <a asp-controller="CreateAccount" asp-action="Get" asp-route-clientId="@Model.ClientId" asp-route-returnUrl="@Model.ReturnUrl" class="govuk-link">Create an account</a>
                    if you do not have one.
                </p>
            </form>
        </div>
    </div>
</main>